{% extends 'layout.twig' %}

{% block sidebar %}
    <li class="nav-item">
        <a href="/" class="nav-link active">
            <i class="nav-icon fas fa-home"></i>
            <p>Home</p>
        </a>
    </li>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}{% endblock %}

{% block javascripts %}{% endblock %}